body {
	background-color: #272525;
	color: #fff;
	font-family: arial;
	text-align: center;
	font-size: 24px;
}
a:link, a:visited {
	background-color: #5F5C5C;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 1px;
	width: 80%;
}
img {
	width: 83%;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	background-color: rgb(180,180,180);
}
